div(class="lg:pr-4")
    div(class="lg:max-w-lg")
        p(class="text-base font-semibold leading-7 text-indigo-600") We all love open source
        h1(class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl") Here a some of my contributions for the community
        p(class="mt-6 text-xl leading-8 text-gray-700") ... ,  ... ,  ... , ... , ...